<nav class="bg-white shadow dark:bg-gray-800 fixed w-full z-10">
    <div class="container px-6 py-2 mx-auto md:flex md:justify-between md:items-center">
        <div class="flex items-center justify-between space-x-8 ">
            <a class="" href="#">
                <img class="w-auto h-7 sm:h-8" src="../../../../assets/logo/1.png" alt="">
            </a>
            <input type="text" class=" py-[4px] pl-10 pr-4 text-gray-700 bg-white border rounded-lg"
                placeholder="Search">
            <!-- Mobile menu button -->
            <!-- <div class="flex lg:hidden">
                <button x type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                    <svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
                    </svg>
            
                    <svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div> -->
        </div>
        <div class="flex space-x-4">
            <div class="flex space-x-4 text-gray-500">

                <a routerLink="/feeds" class="p-2 rounded-lg hover:bg-[#8EAE69] hover:text-white duration-300 transform  ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-home">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                    </svg>
                </a>
                <a routerLink="/reservations"
                    class="p-2 rounded-lg hover:bg-[#8EAE69] hover:text-white duration-300 transform">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-clock"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.4" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
                        <path d="M16 3v4" />
                        <path d="M8 3v4" />
                        <path d="M4 11h10" />
                        <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                        <path d="M18 16.5v1.5l.5 .5" />
                    </svg>
                </a>
                <a routerLink="/barber"
                    class="p-2 rounded-lg hover:bg-[#8EAE69] hover:text-white duration-300 transform  ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-razor-electric"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.4" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M8 3v2" />
                        <path d="M12 3v2" />
                        <path d="M16 3v2" />
                        <path d="M9 12v6a3 3 0 0 0 6 0v-6h-6z" />
                        <path d="M8 5h8l-1 4h-6z" />
                        <path d="M12 17v1" />
                    </svg>
                </a>
                <a routerLink="/hair-salon"
                    class="p-2 rounded-lg hover:bg-[#8EAE69] hover:text-white duration-300 transform  ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-store"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.4" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 21l18 0" />
                        <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
                        <path d="M5 21l0 -10.15" />
                        <path d="M19 21l0 -10.15" />
                        <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
                    </svg>
                </a>
            </div>


            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <app-primary-button (click)="logout()">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                    <path d="M9 12h12l-3 -3" />
                    <path d="M18 15l3 -3" />
                </svg></app-primary-button>
        </div>
    </div>
</nav>