<div class="w-full border-[1px] border-gray-200  bg-gray-50 rounded-lg mb-2">
    <div class="p-2 font-medium m-2 text-gray-500 border-b border-b-gray-400 border-b-[2px]  flex space-x-2"> <p>Suggested Barbers</p> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-razor-electric" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 3v2" /><path d="M12 3v2" /><path d="M16 3v2" /><path d="M9 12v6a3 3 0 0 0 6 0v-6h-6z" /><path d="M8 5h8l-1 4h-6z" /><path d="M12 17v1" /></svg> </div>
    <div class="p-2">
        <div class="flex space-x-4 p-2 hover:bg-lime-100 rounded-lg cursor-pointer">
            <img class="h-10 w-10 rounded-full shadow"
                src="https://media.licdn.com/dms/image/D4E03AQHdmxxBtduvCQ/profile-displayphoto-shrink_400_400/0/1677932158562?e=1712188800&v=beta&t=7ZbkW9eIw1JwrpKgQcbWSHu2Brhm6eSj8vKKIcmQpKk"
                alt="">
            <div>
                <p class="font-medium  text-sm"> Mohcine Khribech </p>
                <p class=" font-light text-xs  ">Agadir</p>
            </div>
        </div>

        <div class="flex space-x-4 p-2 hover:bg-lime-100 rounded-lg cursor-pointer">
            <img class="h-10 w-10 rounded-full shadow"
                src="https://media.licdn.com/dms/image/D4E03AQHdmxxBtduvCQ/profile-displayphoto-shrink_400_400/0/1677932158562?e=1712188800&v=beta&t=7ZbkW9eIw1JwrpKgQcbWSHu2Brhm6eSj8vKKIcmQpKk"
                alt="">
            <div>
                <p class="font-medium  text-sm"> Mohcine Khribech </p>
                <p class=" font-light text-xs  ">Agadir</p>
            </div>
        </div>

        <div class="flex space-x-4 p-2 hover:bg-lime-100 rounded-lg cursor-pointer">
            <img class="h-10 w-10 rounded-full shadow"
                src="https://media.licdn.com/dms/image/D4E03AQHdmxxBtduvCQ/profile-displayphoto-shrink_400_400/0/1677932158562?e=1712188800&v=beta&t=7ZbkW9eIw1JwrpKgQcbWSHu2Brhm6eSj8vKKIcmQpKk"
                alt="">
            <div>
                <p class="font-medium  text-sm"> Mohcine Khribech </p>
                <p class=" font-light text-xs  ">Agadir</p>
            </div>
        </div>

        <div class="flex space-x-4 p-2 hover:bg-lime-100 rounded-lg cursor-pointer">
            <img class="h-10 w-10 rounded-full shadow"
                src="https://media.licdn.com/dms/image/D4E03AQHdmxxBtduvCQ/profile-displayphoto-shrink_400_400/0/1677932158562?e=1712188800&v=beta&t=7ZbkW9eIw1JwrpKgQcbWSHu2Brhm6eSj8vKKIcmQpKk"
                alt="">
            <div>
                <p class="font-medium  text-sm"> Mohcine Khribech </p>
                <p class=" font-light text-xs  ">Agadir</p>
            </div>
        </div>
    </div>
</div>