<div class="h-screen flex items-center">
    <div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md my-auto">
        <div class="px-6 py-4">
            <div class="flex justify-center mx-auto">
                <img class="w-auto h-7 sm:h-8" src="../../../../assets/logo/1.png" alt="">
            </div>
    
            <h3 class="mt-3 text-xl font-medium text-center text-gray-600">Welcome Back</h3>
    
            <p class="mt-1 text-center text-gray-500">Login or create account</p>
    
            <form (submit)="login()">
                <div class="w-full mt-4">
                    <input class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-lg focus:border-[#8EAE69] focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-[#8EAE69]" name="email" [(ngModel)]="info.email" type="email" placeholder="Email Address" aria-label="Email Address" />
                </div>
    
                <div class="w-full mt-4">
                    <input class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-lg focus:border-[#8EAE69] focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-[#8EAE69]" name="password" [(ngModel)]="info.password" type="password" placeholder="Password" aria-label="Password" />
                </div>
    
                <div class="flex items-center justify-between mt-4">
                    <a href="#" class="text-sm text-gray-600 dark:text-gray-200 hover:text-gray-500">Forget Password?</a>
                    <app-primary-button type="submit">
                        Sign In
                    </app-primary-button>
                </div>
            </form>
        </div>
        <div class="flex items-center justify-center py-4 text-center bg-gray-50 dark:bg-gray-700">
            <span class="text-sm text-gray-600 dark:text-gray-200">Don't have an account? </span>
            <a href="#" class="mx-2 text-sm font-bold text-gay-500 dark:text-blue-400 hover:underline">Register</a>
        </div>
    </div>
</div>