<app-nav-bar></app-nav-bar>
<div class="p-4 pt-20 display">
    <div *ngFor="let barber of barbers" class=" p-2 w-[300px] bg-gray-50 shadow rounded-lg">
        <img class="w-24 h-24 rounded-full mx-auto"  [src]="barber.profilePic" alt="">
        <h2 class="text-center font-medium p-2">{{barber.fullName}}</h2>
        <div class="flex justify-between">
            <div>
                <p class="text-md text-gray-600">services : {{barber.services.length}}</p>
            </div>
            <div>
                <p class="text-md text-gray-600">Articles : {{barber.articles.length}}</p>
            </div>
        </div>
    </div>
</div>