<app-nav-bar></app-nav-bar>
<div class="p-2 pt-20">
    <div class="flex space-x-12 w-[90%] p-8 bg-gray-50 mx-auto justify-center rounded-lg">
        <img class="w-60 h-60 rounded-full"
            src="https://images.pexels.com/photos/19966316/pexels-photo-19966316/free-photo-of-mer-plage-vacances-gens.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
            alt="">
        <div class="w-fit">
            <div class="flex space-x-8 ">
                <p class="font-medium text-2xl py-4 ">{{barber.fullName}}</p>


                <div class="flex items-center">
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 22 20">
                        <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 22 20">
                        <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 22 20">
                        <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 22 20">
                        <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 ms-1 text-gray-300 dark:text-gray-500" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <p class="text-sm px-2">(50)</p>
                </div>
                <div>
                    <button
                        class="bg-gray-100 text-sm my-4 transform duration-300 font-medium p-2 rounded-lg hover:bg-[#8EAE69] hover:text-white">
                        Update Profile </button>
                </div>
                <div>
                    <button
                        class="flex space-x-2 bg-gray-100 text-sm my-4 transform duration-300 font-medium p-2 rounded-lg hover:bg-[#8EAE69] hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-clock"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.4" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
                            <path d="M16 3v4" />
                            <path d="M8 3v4" />
                            <path d="M4 11h10" />
                            <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                            <path d="M18 16.5v1.5l.5 .5" />
                        </svg>
                        <p>book your place</p>
                    </button>
                </div>
            </div>
            <div class="flex space-x-8 ">
                <p class=" text-lg  py-4 "><span class="font-medium">{{barber.articles.length}}</span> Articles</p>
                <p class=" text-lg  py-4 "><span class="font-medium">10</span> Services</p>
                <p class=" text-lg  py-4 "><span class="font-medium">10</span> Reservations</p>
            </div>
            <div class="flex space-x-8 ">
                <p class=" text-sm w-[60%]  py-4 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis
                    nesciunt at fuga ratione earum est, architecto nulla iure natus vitae possimus inventore, laboriosam
                    fugiat! Dignissimos itaque mollitia commodi necessitatibus quo.</p>
            </div>

        </div>
    </div>
    <div class="w-[90%] my-4 p-8 bg-gray-50 mx-auto justify-center rounded-lg">
        <h3 class="text-xl font-semibold text-gray-800 capitalize lg:text-2xl">All <span class="underline decoration-[#8EAE69]">Articles</span> <span class="lg:text-xl text-lg mx-2">{{barber.articles.length}}</span></h3>
        <div class="grid grid-cols-3 grid-flow-row gap-4 p-4 my-4 justify-center">
            <div *ngFor="let article of barber.articles">
                <app-article-info-in-barber-profile [article]="article"></app-article-info-in-barber-profile>
            </div>
        </div>
    </div>
</div>