<app-nav-bar></app-nav-bar>
<div class="pt-14 h-screen">
    <section>

        <div class="w-full py-4 border-b">
            <div class="flex">
                <div class="w-1/3">
                    <div class="relative mb-2">
                        <div class="w-10 h-10 mx-auto bg-[#8EAE69] rounded-full text-lg text-white flex items-center">
                            <span class="text-center text-white w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-full " width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                    <path d="M16 3l0 4" />
                                    <path d="M8 3l0 4" />
                                    <path d="M4 11l16 0" />
                                    <path d="M8 15h2v2h-2z" />
                                </svg>
                            </span>
                        </div>
                    </div>

                    <div class="text-xs text-center md:text-base">Date</div>
                </div>

                <div class="w-1/3">
                    <div class="relative mb-2">
                        <div class="absolute flex align-center items-center align-middle content-center"
                            style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
                            <div class="w-full bg-gray-200 rounded items-center align-middle align-center flex-1">
                                <div [ngClass]="{' bg-[#8EAE69]' : step>=1 }" class="w-0  py-1 rounded"
                                    style="width: 100%;"></div>
                            </div>
                        </div>

                        <div [ngClass]="{' bg-[#8EAE69] text-white' : step>=1 ,' bg-white text-gray-500 border-2' : step<1 }"
                            class="w-10 h-10 mx-auto  rounded-full text-lg  flex items-center">
                            <span class="text-center w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-full" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                    <path d="M12 12l-3 -2" />
                                    <path d="M12 7v5" />
                                </svg>
                            </span>
                        </div>
                    </div>

                    <div class="text-xs text-center md:text-base">Time</div>
                </div>

                <div class="w-1/3">
                    <div class="relative mb-2">
                        <div class="absolute flex align-center items-center align-middle content-center"
                            style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
                            <div class="w-full bg-gray-200 rounded items-center align-middle align-center flex-1">
                                <div [ngClass]="{' bg-[#8EAE69]' : step>=2 }" class="w-0  py-1 rounded"
                                    style="width: 100%;"></div>
                            </div>
                        </div>

                        <div [ngClass]="{' bg-[#8EAE69] text-white' : step>=2 ,' bg-white text-gray-500 border-2' : step<2 }"
                            class="w-10 h-10 mx-auto  rounded-full text-lg  flex items-center">
                            <span class="text-center w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-full" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M8 3v2" />
                                    <path d="M12 3v2" />
                                    <path d="M16 3v2" />
                                    <path d="M9 12v6a3 3 0 0 0 6 0v-6h-6z" />
                                    <path d="M8 5h8l-1 4h-6z" />
                                    <path d="M12 17v1" />
                                </svg>
                            </span>
                        </div>
                    </div>

                    <div class="text-xs text-center md:text-base">Services</div>
                </div>

                <div class="w-1/3">
                    <div class="relative mb-2">
                        <div class="absolute flex align-center items-center align-middle content-center"
                            style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
                            <div class="w-full bg-gray-200 rounded items-center align-middle align-center flex-1">
                                <div [ngClass]="{' bg-[#8EAE69]' : step>=3 }" class="w-0  py-1 rounded"
                                    style="width: 100%;"></div>
                            </div>
                        </div>

                        <div [ngClass]="{' bg-[#8EAE69] text-white' : step>=3 ,' bg-white text-gray-500 border-2' : step<3 }"
                            class="w-10 h-10 mx-auto  rounded-full text-lg  flex items-center">
                            <span class="text-center w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-full" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M4 4m0 1a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1z" />
                                    <path d="M4 8h16" />
                                    <path d="M8 4v4" />
                                    <path d="M9.5 14.5l1.5 1.5l3 -3" />
                                </svg>
                            </span>
                        </div>
                    </div>

                    <div class="text-xs text-center md:text-base">Confirmation</div>
                </div>
            </div>
        </div>
    </section>

    <div class="h-[60vh] overflow-y-auto">
        <app-choose-date *ngIf="step==0"></app-choose-date>
        <app-choose-time *ngIf="step==1"></app-choose-time>
        <app-choose-services *ngIf="step==2"></app-choose-services>
        <app-confirm-reservation [reservation]="reservation" *ngIf="step==3"></app-confirm-reservation>
    </div>

    <div class="w-full p-4 bg-white flex justify-between">
        <app-primary-button (click)="back()">
            <div class="flex space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l14 0" />
                    <path d="M5 12l6 6" />
                    <path d="M5 12l6 -6" />
                </svg>
                <p class="font-medium">back</p>
            </div>
        </app-primary-button>
        <app-primary-button (click)="next()">
            <div class="flex space-x-2">
                <p *ngIf="step != 3" class="font-medium">Next</p>
                <p *ngIf="step == 3" class="font-medium">Confirm</p>
                <svg *ngIf="step != 3" xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l14 0" />
                    <path d="M15 16l4 -4" />
                    <path d="M15 8l4 4" />
                </svg>
                <svg *ngIf="step == 3" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l5 5l10 -10" />
                </svg>
            </div>
        </app-primary-button>
    </div>
</div>