<div class="p-2 bg-gray-50 rounded-md ">
    <div class="border-b p-2">
        <h3 class="text-md font-medium">
            Date :
        </h3>
        <p>
            {{reservation.date}}
        </p>
    </div>
    <div class="border-b p-2">
        <h3 class="text-md font-medium">
            start Time :
        </h3>
        <p>
            {{reservation.startTime}}
        </p>
    </div>
    <div class="border-b p-2">
        <h3 class="text-md font-medium">
            end Time :
        </h3>
        <p>
            {{reservation.endTime}}
        </p>
    </div>
    <div class="border-b p-2">
        <h3 class="text-md font-medium">
            Price :
        </h3>
        <p>
            100DH
        </p>
    </div>
</div>